.popup__close {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close:hover {
  opacity: 0.6;
  transition: opacity 1s;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0px;
    top: -36px;
  }
}
